
@font-face {
    font-family: "Chicago";
    src: url('fonts/ChicagoKare-Regular.woff');
}

body{
    zoom: 125%;
    image-rendering: pixelated;
    -webkit-font-smoothing:none;
    font-family: "Chicago";
    background-image: url('img/classic-mac-os-tile-wallpapers-4.png');
    margin: 0;
}


#window-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}



#window {
    height: 500px;
    width: 584px;
    border-style: solid;
    border-width: 25px 0 52px 0;
    border-image: url('img/os9window.png') 25 0 52 0 fill stretch;
    padding: 10px;
    overflow: auto;
    margin: 20px 10px 10px 0;
}

#window-about {
    height: 500px;
    width: 584px;
    border-style: solid;
    border-width: 25px 0 52px 0;
    border-image: url('img/os9windowABOUT.png') 25 0 52 0 fill stretch;
    padding: 10px;
    overflow: auto;
    margin: 20px 10px 10px 0;
}

#window-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    
}

#navbar {
    border-style: solid;
    border-width: 0 90px 0 40px;
    border-image: url('img/topbar-empty.png') 0 90 0 40 fill stretch;
    margin:0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    overflow: hidden;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    color: black;
    
}

ul li a:active {
    background-color: #333399;
    color: white;
}

#bottombar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 520px;
}

