
@font-face {
    font-family: "Chicago";
    src: url('fonts/ChicagoKare-Regular.woff');
}
@font-face {
    font-family: Geneva;
    src: url('fonts/geneva_9.woff');
}

body{
    zoom: 1.3;
    image-rendering: pixelated;
    -webkit-font-smoothing:none;
    font-family: "Chicago";
    background-image: url('img/classic-mac-os-tile-wallpapers-4.png');
    margin: 0;
}


#window-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


#window {
    height: 500px;
    width: 584px;
    /*
    border-style: solid;
    border-width: 25px 0 52px 0;
    border-image: url('img/os9window.png') 25 0 52 0 fill stretch;
    */
    background-image: url(img/os9window.png);
    background-repeat: no-repeat;
    overflow: auto;
    margin-top: 20px;
    padding-top: 10px;
}


#window-about {
    height: 500px;
    width: 584px;
    /*
    border-style: solid;
    border-width: 25px 0 52px 0;
    border-image: url('img/os9window.png') 25 0 52 0 fill stretch;
    */
    background-image: url(img/os9windowABOUT.png);
    background-repeat: no-repeat;
    overflow: auto;
    margin-top: 20px;
    padding-top: 10px;
}

#window-projects {
    height: 500px;
    width: 584px;
    /*
    border-style: solid;
    border-width: 25px 0 52px 0;
    border-image: url('img/os9window.png') 25 0 52 0 fill stretch;
    */
    background-image: url(img/os9windowPROJECTS.png);
    background-repeat: no-repeat;
    overflow: auto;
    margin-top: 20px;
    padding-top: 10px;
}

#window-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.center{
    display: flex;
    margin: auto;
}

#navbar {
    border-style: solid;
    border-width: 0 90px 0 40px;
    border-image: url('img/topbar-empty.png') 0 90 0 40 fill stretch;
    margin:0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    overflow: hidden;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    color: black;
    
}

ul li a:active {
    background-color: #333399;
    color: white;
}

#bottombar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 520px;
}

#clock{
    margin: 0;
    margin-right: 10px;
}

#social-medias {
    padding-bottom: 15px;
}

#desktop-icons {
    padding-top: 20px;
    padding-right: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

#explorer {
    width: 420px;
    top: 50px;
    right: 100px;
    position: absolute;
    z-index: 9;
}

#explorerheader {
    padding: 0px;
    cursor: move;
    z-index: 10;
    background-image: url(img/finder-topbar.png);
}

#explorercontent{
    background-image: url(img/finder-maincontent.png);
    height: 335px;
}

#archive-folder { 
    background: transparent;
    border: none !important;
    font-size:0;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    
}


.icon{ 
    margin-left: 20px;
    margin-top: 30px;
}


#closebutton{
    height: 10px;
    width: 10px;
    margin-left: 4px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}